@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{100,200,300,400}");
@source inline("top-{0..100} left-{0..100} rotate-[{-45..45}deg] -rotate-[{0..45}deg]");

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-hue-rotate: hueRotate 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --font-hedvig: "Hedvig Letters Sans", sans-serif;

  @keyframes hueRotate {
    0% {
      filter: blur(64px) hue-rotate(0deg);
    }
    100% {
      filter: blur(64px) hue-rotate(360deg);
    }
  }
}
